@charset "UTF-8" ;
body{
	margin : 0 ;
	padding : 0 ;
	font-family : 'Poppins', 'tbudgothic-std', sans-serif ;
}
ul , ol{
	margin : 0 ;
	padding : 0 ;
	list-style : none ;
}
h1 , h2 , h3 , h4 , h5 , h6{
	font-weight : normal ;
}
/*
|
|
|
|
/////////////////////////////////////////////

 Color & Size Setting

///////////////////////////////////////////*/
/*

メインカラー／サブカラーなど
頻繁に使用するカラーは
「カスタムプロパティ」で一括管理する

※IEでは適応されないので
　公開前に全て通常のカラーコードに置換する

*/
body{
	--main   : #D8E0E3 ;
	--sub    : #D8E0E3 ;
	--text   : #333 ;
	--accent : #17FFF4;
	background : var(--main);
	color : #fff ;
}
/*

下記のフォントのサイズ表記はpxの数字は
そのときどきに応じて適当なものに変える

※僕もサイトによって
　サイズ表記やpx数は色々変えています

*/
.fontsize--SS{ font-size : 10px ; }
.fontsize--S { font-size : 12px ; }
.fontsize--M { font-size : 14px ; }
.fontsize--L { font-size : 16px ; }
.fontsize--O { font-size : 18px ; }
.fontsize--XO{ font-size : 20px ; }
.fontsize--YO{ font-size : 24px ; }
@media screen and ( min-width : 960px ){
.fontsize--SS{ font-size : 10px ; }
.fontsize--S { font-size : 12px ; }
.fontsize--M { font-size : 16px ; }
.fontsize--L { font-size : 18px ; }
.fontsize--O { font-size : 24px ; }
.fontsize--XO{ font-size : 28px ; }
.fontsize--YO{ font-size : 32px ; }
}
/*
|
|
|
|
/////////////////////////////////////////////

 Container / Section

///////////////////////////////////////////*/
/*

サイトの大枠（骨組み）の最も軸となる要素
下記のスタイル以外は基本何も描かない

*/
.container{
	width : 100% ;
	margin : 0 ;
	padding : 0 ;
}
.section{
	width : 100% ;
	padding : 56px 0 ;
	margin : 0 ;
}
.section__wrapper{
	width : calc( 100% - 24px * 2 ) ;
	max-width : 560px ;
	margin : 0 auto ;
}
.section__title{
	text-align : center ;
}
@media screen and ( min-width : 960px ){
	.section{
		padding : 96px 0 ;
	}
	.section__wrapper{
		width : calc( 100% - 80px * 2 ) ;
		max-width : 1200px ;
	}
}
/*
|
|
|
|
/////////////////////////////////////////////

 Layout

///////////////////////////////////////////*/
/*

レスポンシブデザインで頻出する
「スマホ＝縦並び／PC＝横並び」
のレイアウト変更を担う要素

それ以外の機能は持たせない

*/
.layout,
.layout--2,
.layout--3,
.layout--4{
	display : flex ;
	flex-direction : column ;/*縦並び*/
	width : 100% ;
}
@media screen and ( min-width : 960px ){
	.layout,
	.layout--2,
	.layout--3,
	.layout--4{
		flex-direction : row ;/*横並び*/
		justify-content : space-between ;
		flex-wrap : wrap ;
	}
}
/*
|
|
|
|
/////////////////////////////////////////////

 mainVisual

///////////////////////////////////////////*/
.mainVisual{
  position: relative;
  display : flex ;
  flex-direction: column;
  justify-content : space-between ;
	align-items : center ;
	width : 100vw ;
  height: 100vh;
	background : var(--sub) ;
}

.mainVisual__wrapper{
  position: absolute;
  top: 50%; /*親要素を起点に上から50%*/
  left: 50%;  /*親要素を起点に左から50%*/
  transform: translateY(-50%) translateX(-50%); /*要素の大きさの半分ずつを戻す*/
  -webkit-transform: translateY(-50%) translateX(-50%);
}

.mainVisual__img{
  margin: 0 auto;
  padding: 12px;
  width: 200px ;
	height : 200px ;
  border-radius : 50% ;
  display: block;
  box-shadow: 
  inset -12px -12px 18px rgba(126, 142, 160,.4),
  inset -12px -12px 18px rgba(255, 255, 255,.4),
  -12px -12px 18px rgba(126, 142, 160,.4),
  12px 12px 18px rgba(255, 255, 255,.4);
}

.mainVisual__copy{
  text-align: center;/*一応BOX内の文字も中央寄せ*/
	color : var(--text) ;
  font-weight : bold ;
  letter-spacing: 0.3em;
  margin: 32px 16px;
}

.mainVisual__copy2{
  text-align: center;/*一応BOX内の文字も中央寄せ*/
	color : var(--text) ;
  font-weight : normal ;
  margin: 23px 16px;
}

.mainVisual__description{
  text-align: center;/*一応BOX内の文字も中央寄せ*/
	color : var(--text) ;
  font-weight : normal ;
}


/*
|
|
|
|
/////////////////////////////////////////////

 card

///////////////////////////////////////////*/
.card{
	display : block ;
	width : 100% ;
	margin : 0 0 40px 0 ;
	padding : 24px ;
	box-sizing : border-box ;
	text-decoration : none ;
	color : var(--text) ;
  background : #fff ;
  color:#000;
  background: #D8E0E3;
  border-radius: 20px;
  transition: all 0.6s ease-in-out;
  box-shadow: 
  inset -3px -3px 12px rgba(126, 142, 160,.2),
  inset -3px -3px 12px rgba(255, 255, 255,.4),
  -3px -3px 12px rgba(126, 142, 160,.2),
  3px 3px 12px rgba(255, 255, 255,.4);
}
.card:last-child{
	margin : 0 ;
}
.card__image{
	width : 100% ;
	vertical-align : bottom ;/*画像の下の変な隙間をなくす*/
}
.card__title{
	width : 100% ;
	margin : 16px 0 ;
}
.card__desc{
	width : 100% ;
	margin : 0 ;
}

@media screen and ( min-width : 960px ){
	.layout .card{
		width : 100% ;
		margin : 0 0 40px 0 ;
	}
	.layout--2 .card{
		width : calc( ( 100% - 40px ) / 2 ) ;
		margin : 0 ;
	}
	.layout--3 .card{
		width : calc( ( 100% - 40px * 2 ) / 3 ) ;
		margin : 0 ;
	}
	.layout--4 .card{
		width : calc( ( 100% - 40px * 3 ) / 4 ) ;
		margin : 0 ;
	}
	/*縦の配列が２列以上になるときの余白設定（n枚目以降のカードにmarginを設定）*/
	.layout--2 .card:nth-child( n + 3 ){
		margin : 40px 0 0 0 ;
	}
	.layout--3 .card:nth-child( n + 4 ){
		margin : 40px 0 0 0 ;
	}
	.layout--4 .card:nth-child( n + 5 ){
		margin : 40px 0 0 0 ;
	}
	/*１カラム／２カラム用Cardレイアウト*/
	.card__wrapper--row{
		display : flex ;
		align-items : flex-start ;
	}
	.card__wrapper--row .card__image{
		width : 200px ;
	}
	.card__wrapper--row .card__box{
		margin : 0 0 0 40px ;
	}
	.card__wrapper--row .card__title{
		margin : 0 0 16px ;
	}
	/*hover*/
	.card{
		transition : .5s ;
	}
	.card:hover{
		box-shadow : 12px 12px 20px rgba(0,0,0,.3);
  }
  

  .mainVisual__img{
    width: 400px ;
    height : 400px ;
  }


}
/*
|
|
|
|
/////////////////////////////////////////////

 OtherColor

///////////////////////////////////////////*/
.otherColor{
	background : var(--sub);
}
.otherColor .section__title{
	color : var(--main);
}
.otherColor .card{
	color : #fff ;
	background : var(--main) ;
}